[2021-02-24 12:47] dshukertjr opened #4 "Export `RealtimeSubscription`"
# Feature request

## Is your feature request related to a problem? Please describe.

By exporting RealtimeSubscription, you will be able to declare variable with type `RealtimeSubscription` that can be later used to unsubscribe.

## Describe the solution you'd like

Add export statement to export `RealtimeSubscription`

[2021-02-25 02:27] #4 closed

[2021-02-25 03:57] dshukertjr opened #7 "Change errorMsg parameter in SubscriptionCallback to a positional argument"
# Feature request

## Is your feature request related to a problem? Please describe.

Thanks for creating and maintaining supabase-dart! I am enjoying creating flutter apps with it!

This is just an opinion that I have, but I find the format of `SubscriptionCallback` a bit hard to work with. It might be easier if the `errorMsg` was an optional positional argument instead.

current:
[code]

my sugg

[2021-02-25 05:44] dshukertjr commented on #7
Wow, great title huh? lol

[2021-02-25 23:59] phamhieu commented on #7
Hi @dshukertjr, can you give more explanation for this quote

To me, the code is the same. Just a different between `{}` and `[]`

[2021-02-26 03:35] dshukertjr commented on #7
Hi @phamhieu !

Yeah, sure! It might be a teeny-tiny difference, but with the current code using {}, this is how you would write SubscriptionCallback.

[code]

This has two limitations:
- You have to wrap `errorMsg` with {}
- You cannot change the variable name from `errorMsg` to something else

If we change the {} to [], we can get rid of both of the two restrictions and write it like this:

[cod

[2021-02-26 05:29] phamhieu commented on #7
but with the other way, you still have to wrap it with []. Correct me if i'm wrong. You can submit a PR.

This' true.

[2021-02-26 05:30] phamhieu commented on #7
Yes, please do so. Thank you so much.

[2021-02-26 07:47] dshukertjr commented on #7
You are absolutely right and I was absolutely wrong. Thank you for correcting me.

[2021-02-26 07:47] #7 closed

[2021-02-28 05:41] happy-san opened #8 "Making multiple subscriptions on the same client gets immediately CLOSED with error null"
# Bug report

## Describe the bug

I have created a table `countries` with a single field `name`. In the following gist, when I comment out either `_subOnCountriesDelete`  or `_subOnCountriesInsert`, everything works as intended and I receive events during the 10 seconds. But when I don't comment out anything in the gist, both the subscriptions just return `event: CLOSED error: null`.

## To Repro

[2021-02-28 05:49] happy-san commented on #8
I've noticed that everything works fine with only one subscription in this [flutter example](https://github.com/happy-san/todo_supabase/blob/dev/lib/main.dart) too.

Maybe having multiple subscriptions on the same table is causing this issue.

[2021-02-28 06:17] phamhieu commented on #8
Hi @happy-san, you can only have 1 active subscription per unique topic at any given time.

[2021-02-28 06:23] happy-san commented on #8
Oh okay!
Also, can you clarify what do you mean by `topic` ?

[2021-02-28 06:26] phamhieu commented on #8
subscription topic is based on your schema and table name.

[code]

[2021-02-28 06:30] happy-san commented on #8
If I understood correctly, the second subscription should've been successful but they both get closed in my example.

[2021-02-28 06:51] happy-san commented on #8
I've updated my subscription to this and everything is working fine!

[code]
<details>
<summary>...almost</summary>
I'm not receiving anything in `oldRecord` in case of `UPDATE`

[code]
 </details>

@phamhieu thank you for your quick response though.

[2021-03-04 02:14] happy-san opened #9 "UPDATE event of SupabaseRealtimePayload gets empty oldRecord."
# Bug report

In the Supabase's table editor window, I did the following in my `todos` table's `task` attribute:
1. Added `o`
2. Edited `o` -> `oOo`
3. Deleted `oOo`

And I got the following result in my dart subscription:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]
## Expected behavior

The UPDATE event should not have an empty

[2021-03-04 02:38] happy-san commented on #9
Reproducible in `0.0.1-dev.9`

[2021-03-04 03:24] w3b6x9 commented on #9
@happy-san You're going to have to set the `todos` table's `REPLICA IDENTITY` to `FULL` in order to see old records for updates.

Try `ALTER TABLE public.todos REPLICA IDENTITY FULL;` in Supabase's SQL editor.

[2021-03-04 03:26] TimWhiting opened #10 "Migrate to Null Safety"
# Chore

## Describe the chore

Migrate to null safety

## Additional context

I can do the migration, just need to have the null-safe versions of postgrest-dart, realtime-dart and gotrue to be published to pub.dev.
@phamhieu

[2021-03-04 04:03] phamhieu commented on #8
tracking at #9

[2021-03-04 04:03] #8 closed

[2021-03-04 04:57] happy-san commented on #9
@w3b6x9 `ALTER TABLE public.todos REPLICA IDENTITY FULL;` did it for me. Thank you!

[2021-03-04 06:47] #9 closed

[2021-03-05 01:36] phamhieu commented on #10
Hi @TimWhiting postgrest-dart, realtime-dart and gotrue-dart are published to latest version with null-safety support.

[2021-03-17 22:13] oussaid1 commented on #10
this is really amazing , keep up the good work ,
please Migrate to null-safety
I will make sure to spread supabase among all the devs i know ..
good luck

[2021-03-17 23:20] TimWhiting commented on #10
It's migrated, just need to be published

[2021-03-21 18:22] happy-san opened #12 "Mock SupabaseClient."
# Feature request

## Is your feature request related to a problem? Please describe.

Working on a little side-project to make a Todo app. It would be awesome to have a mock client to unit test my [Repository](https://github.com/happy-san/todo_supabase/blob/63595c146314f932e62ce1270c23bfbf7bda71bd/lib/core/todo_repository.dart) class.

## Describe the solution you'd like

A MockSupabaseClient that

[2021-03-31 05:35] phamhieu commented on #10
deployed! I'm so sorry for dragging this version deployment.

[2021-03-31 05:35] #10 closed

[2021-04-01 04:30] faststare08 opened #13 "Getx Example"
# Feature request

I want to clone a todo app with getx but I have hard time to implement Authorization Controller with supabase.

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives yo

[2021-04-11 14:35] happy-san commented on #12
Hey, @phamhieu have you considered this?

[2021-04-12 00:56] phamhieu commented on #12
Hi @happy-san, you can use `MockClient` to write your unit test.

`client.from('todos').select('task, status').execute()` will translate into `https://supabase-url/todos?select=task,status`

You can use `MockClient` to return a json response for that url.

[2021-04-12 04:05] happy-san commented on #12
Thanks, I'll try it out.

[2021-04-13 01:44] phamhieu commented on #12
Sorry for confusing you with the word `MockClient`. I create an example [here](https://github.com/supabase/supabase-dart/blob/main/test/mock_test.dart)

[2021-04-15 04:21] happy-san commented on #12
Thank you for creating an example. Didn't know that a `MockServer` could be created, awesome!

[2021-04-15 04:21] #12 closed

[2021-04-17 01:46] carlomigueldy opened #16 "Null check operator used on a null value"
# Bug report

## Describe the bug

When I query from a table "servers", it returns 500. I think this is coming from the `SupabaseClient`

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a Flutter project and a Supabase project
2. Configure the Flutter project that will interact with the Supabase project (Setup SUPBASE_URL and SUPAB

[2021-04-22 10:07] thalkz commented on #16
I cloned your project and I'm getting the same error message. It looks like an exception is thrown in the `postgrest` package on [this line](https://github.com/supabase/postgrest-dart/blob/a1db368fc59d952a764dddeacd83061ab5f34595/lib/src/postgrest_builder.dart#L53).

And indeed, `method` on this line is a `String?` that is never initialised, which throws when calling `method!`. This could be solve

[2021-04-22 12:22] thalkz commented on #16
Actually the issue is that you called `.execute()` directly on `from("servers")`. There is no query to execute. Try replacing
[code]
with
[code]

Still this is a bit confusing. It should either not be possible to call `execute()` directly, or it should return a more explicit error.

[2021-04-23 00:55] phamhieu commented on #16
I implemented a fix [here](https://github.com/supabase/postgrest-dart/commit/5f6e140c53a2f61de5a7cba2fdbb6326ae3ee93a)

[2021-04-24 12:41] carlomigueldy commented on #16
Thank you @thalkz @phamhieu! Will take a look now.

[2021-04-24 22:49] carlomigueldy commented on #16
Will close the issue now.

If this https://github.com/supabase/postgrest-dart/commit/5f6e140c53a2f61de5a7cba2fdbb6326ae3ee93a gets merged then would also be great

[2021-04-24 22:49] #16 closed

[2021-05-03 22:30] bdlukaa opened #18 "Support web"
# Feature request

It'd be awesome to have web support for this package, so that I can use supabase on my Flutter Web project. That means the package can't import `dart:io` at any ways. Check https://pub.dev/packages/supabase/score

![](https://user-images.githubusercontent.com/45696119/116941320-d7e8a100-ac45-11eb-8382-15981181e904.png)

[2021-05-05 00:14] sunilmishra opened #19 "Flutter - Realtime Subscription is not working"
I have created sample flutter app where trying to subscribe realtime the changes on table `profiles`.

sample code:

 late RealtimeSubscription _subscription;

 void subscribeProfiles() {
    _subscription = client.from('profiles').on(SupabaseEventTypes.insert, (x) {
      print('on profiles.insert: ${x.table} ${x.eventType} ${x.oldRecord}');
    }).subscribe((String event, {String? errorMsg}) {

[2021-05-05 00:56] w3b6x9 commented on #19
@sunilmishra realtime is turned off by default so i think that's why you're not receiving the changes.

run this on your db and try again:

[code]

[2021-05-05 01:54] w3b6x9 commented on #19
@sunilmishra I'm going to close this issue. Feel free to reopen if realtime is still not working.

[2021-05-05 01:54] #19 closed

[2021-05-05 02:03] sunilmishra commented on #19
Thank you @w3b6x9  for prompt reply.
We can do the same using visual UI at https://app.supabase.io/project/XXXXXXXXXXXX/database/replication
Click on `All Tables` or `0 Tables` at column Source.  It will allow us to enable `supabase_realtime` for all tables or selected table using switch button.

[2021-05-08 17:42] MisterJimson opened #20 "Proper Mobile OAuth Flows for Single Sign On"
# Feature request
Proper Mobile OAuth Flows for Single Sign On

## Is your feature request related to a problem? Please describe.

From what I can tell from the docs and examples, the current OAuth flow for SSO login is designed around web support and isn't ideal for mobile apps.

The standard mobile flow is:
Accept OAuth Prompt
![image](https://user-images.githubusercontent.com/7351329/117548164-

[2021-05-08 17:44] MisterJimson commented on #20
Additionally `ProviderOptions redirectTo` seems to have no effect.

[2021-05-10 01:11] awalias commented on #20
this has been implemented on the auth backend and we have an internal ticket open for adding this to the dashboard: https://github.com/supabase/infrastructure/issues/959

[2021-05-13 09:03] awalias commented on #20
you can now add this in the additional auth redirect but make sure you add the *exact* URI (including protocol and path) reverse URIs are also accepted

make sure you add the query param `redirect_to` or the Referer header to the URI in the `SignIn` request

![image](https://user-images.githubusercontent.com/458736/118103837-f05a7780-b40c-11eb-8e3f-4be6c8629bdc.png)

[2021-05-13 09:03] #20 closed

[2021-05-21 06:48] agwanyaseen commented on #18
If it's supporting on web, then why on [pub](https://pub.dev/packages/supabase) it is marked as web supported.
It should be removed then.

![image](https://user-images.githubusercontent.com/37746694/119094304-7e96b500-ba2e-11eb-9774-1b4c75cc24f5.png)

[2021-05-21 07:42] phamhieu commented on #18
Thanks to this PR https://github.com/supabase/storage-dart/pull/3

Supabase-dart already has web support.

[2021-05-21 07:42] #18 closed

[2021-05-21 07:45] agwanyaseen commented on #18
Looks cool, Excited to try :)

[2021-05-22 17:15] brycegoh opened #22 "Access token not refreshing upon session recovery."
# Bug report
Since its my first time posting an issue, I apologise if this is the wrong type of issue to bring up.

## Describe the bug
I have a self hosted Supabase using python. I am using flutter with Supabase-dart to use Supabase Auth. For every HTTP request to my self hosted Supabase server, I am attaching my access token to request Header using:
[code]
I followed the example at [splash scree

[2021-05-28 18:02] jpstrikesback commented on #20
quick note here: I believe if the comma separated list contains whitespace, the item with whitespace does not work as a redirect (in my tests it falls back to the site url)

[2021-06-06 20:39] ExzaSolutions opened #23 "Flutter Web gives Error: UnimplementedError with File f = new File('example.txt');"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2021-06-12 00:57] carlomigueldy opened #24 "Add `withConverter` and pass in a generic type"
# Feature request

## Is your feature request related to a problem? Please describe.

Yeah sort of, this would refer to be as "boilerplate" code.

## Describe the solution you'd like

Firestore has implemented this feature. So I'll just link up that from pub.dev changelog.

https://pub.dev/packages/cloud_firestore/changelog#200

## Additional context

![image](https://user-images.githubusercontent

[2021-06-12 03:48] paurakhsharma opened #25 "Add public download url of the asset in StorageResponse"
First of all, Thank you for this amazing project.

# Feature request

- Add an option to get the public download URL for the uploaded asset just like firebase storage.

## Is your feature request related to a problem? Please describe.

- Currently, when I upload the asset to my storage I need to save the relative path of the asset in the database and download the file when I need to show it in the

[2021-06-12 04:05] dshukertjr commented on #25
Thanks @paurakhsharma for opening an issue!

Method to get public URL landed on supabase-js recently.
https://github.com/supabase/storage-js/pull/10

I can try to get this implemented this weekend!

[2021-06-12 04:32] paurakhsharma commented on #25
@dshukertjr That sounds awesome. Looking forward to it 😍

[2021-06-17 12:35] nomanmurtaza786 commented on #13
I think we should post this in getx discord.

[2021-06-20 23:08] sunilmishra opened #26 "Storage - Unable to upload image to private bucket"
## Describe the bug

Unable to upload image file to private bucket using flutter in IOS.

Following error is showing :
- new row violates row-level security policy for table "objects"

Please suggest what am i missing. I tried to with suggested template policies on website also but still unable to upload.

[2021-06-21 00:22] phamhieu commented on #25
@paurakhsharma, you can find the new public url feature on the latest version https://pub.dev/packages/supabase

[2021-06-21 00:22] #25 closed

[2021-06-21 00:27] phamhieu commented on #22
Hi @brycegoh, this bug has been fixed on the latest version https://pub.dev/packages/supabase. Let me know if you are still facing the issue.

Also, I updated [supabase flutter demo](https://github.com/phamhieu/supabase-dart-demo) app recently. Along with using splash screen to handle recover session when app exists. You can listen to lifecycle state in order to [recover session on app resume](htt

[2021-06-21 00:27] #22 closed

[2021-06-21 00:34] phamhieu commented on #23
Hi @ExzaSolutions, `dart:io` doesn't support flutter web. You need to use https://pub.dev/packages/universal_io instead.

[2021-06-21 00:34] #23 closed

[2021-06-21 00:42] phamhieu commented on #26
Hi @sunilmishra, can you upload your bucket policies for reference. I guess that you don't provide read access for `objects`. After inserting, it fails to retrieve the data to return and throws error.

<img width="1041" alt="Screenshot 2021-06-21 at 7 39 16 AM" src="https://user-images.githubusercontent.com/689843/122693440-153fd700-d264-11eb-851b-33210e2b42a7.png">

[2021-06-21 03:07] sunilmishra commented on #26
@phamhieu Thank you! Issue resolved.

[2021-06-21 03:07] #26 closed

[2021-06-22 02:19] paurakhsharma commented on #25
@dshukertjr @phamhieu
I am having some problem getting it to work, maybe I am missing something here:

Here is my code to get the `publicUrl`

[code]

This the the URL that gets printed out: https://dlrvdojpksbdmvnygpeb.supabase.co/storage/v1/object/public/journalImages/2021-06-22%2007:58:17.902992_IMG_0005.jpeg

But it returns 404.

Anything I am missing?

[2021-06-22 02:27] phamhieu commented on #25
@paurakhsharma can you check on your supabase project dashboard if `journalImages` is a public bucket?

the generated url looks valid to me.

maybe you can try to rename your folder to use `Only lowercase letters `
<img width="581" alt="Screenshot 2021-06-22 at 9 26 20 AM" src="https://user-images.githubusercontent.com/689843/122853098-e9902000-d33b-11eb-973b-a5dc6ef33f67.png">

[2021-06-22 02:31] dshukertjr commented on #25
Hey @paurakhsharma !

By default all buckets created in Supabase are private. You can go into your Supabase console's storage setting and make buckets public!

[2021-06-22 02:35] paurakhsharma commented on #25
Thanks, @dshukertjr, and @phamhieu for the quick response.
Yes, my bucket wasn't set to public. Setting it to public worked like a charm 🚀

Many thanks.

[2021-06-23 00:17] bdlukaa opened #27 "Documentation on how to keep the user logged in"
# Improve documentation

## Describe the problem

Currently, there's no documentation on how to keep the user logged in after the application is closed and opened again. The user have to log in again.

## Describe the improvement

Improve the documentation on how to keep the user logged in. This is something that is done automatically on the js library, but not on this one.

## Additional context

[2021-06-23 00:20] bdlukaa commented on #27
I could get this working on Flutter using the `shared_preferences` plugin:

[code]

[2021-06-23 02:26] phamhieu commented on #27
Hi @bdlukaa, thanks for your code example. To be better, you can listen to app lifecycle to support recovering session on app resumes.

You can take a look at the example [here](https://github.com/phamhieu/supabase-dart-demo/blob/main/lib/components/lifecycle_state.dart)

We will create a Supabase flutter library to support this feature. Stay tuned for further updates.

[2021-06-26 10:21] muhammadmateen027 opened #29 "Google Login Error in Flutter mobile app"
# Bug report

## Google Login Error in Flutter mobile app

I have tried to log in using google `..signIn(provider: Provider.google)`, but it doesn't help at all. Webview pop-up doesn't appear even you can get the URL in `print()` method.

## To Reproduce

Steps to reproduce the behavior:

1. Setup [google login](https://supabase.io/docs/guides/auth/auth-google) as per your documentation
2. Add but

[2021-06-26 12:48] nomanmurtaza786 commented on #29
I am getting same problem. Anyone can share the flutter example, please.

[2021-06-28 00:31] phamhieu commented on #29
Hi @muhammadmateen027 @nomanmurtaza786

`supabase-dart` package just returns the authorize url for third party providers. You will need to manually trigger the browser tab to open this url.

you can take a look at the code example [here](https://github.com/supabase/supabase/discussions/1885#discussioncomment-855633)

[2021-06-30 23:39] nomanmurtaza786 opened #31 "Pagination"
Hi, I am trying to implement pagination in flutter via this guide https://github.com/supabase/supabase/discussions/1223#discussioncomment-641447

But I can't find the count function in the Dart client. Do you know, how can we implement pagination with a dart. Want to count total rows.

[2021-07-01 01:54] phamhieu commented on #31
👋 @nomanmurtaza786, you can pass CountOption param into execute() method to receive the count value.

[code]

[2021-07-01 02:44] nomanmurtaza786 commented on #31
Getting this problem
Undefined name 'CountOption'.
Try correcting the name to one that is defined, or defining the name.

![image](https://user-images.githubusercontent.com/14288484/124056958-01695180-da6a-11eb-9b24-d5e2312ce2dc.png)

[2021-07-01 03:53] phamhieu commented on #31
Can you try again with the latest `supabase-dart` client. I pushed a hotfix for this issue.

[2021-07-01 04:28] nomanmurtaza786 commented on #31
Thanks working

[2021-07-01 05:01] #31 closed

[2021-07-03 16:16] krsikarya opened #32 "RealTime Subscription is not working for 'All' SupabaseEventTypes."
When given `SupabaseEventTypes.all` as SubscriptionType, it is not working. A week ago, it used to be work.
 _realtimeSubscription =
        client.from(_table).on(SupabaseEventTypes.all, (payload) {
      switch (payload.eventType) {
      case 'INSERT':
      .......
      .........
      ............
}

BUT If `SupabaseEventTypes.insert` is given then RealTimeSubscription is working.
 _realtime

[2021-07-03 16:49] rphly commented on #32
Experiencing this as well.

[2021-07-03 23:30] dshukertjr commented on #32
Thank you @krsikarya and @rphly for reporting this!

I was able to confirm that this does happen with the Dart SDK but not the JavaScript SDK, thus it most likely is a bug on the Dart SDK. I will have a deeper look and let you know if I find something!

[2021-07-04 11:55] dshukertjr commented on #32
Hi @krsikarya !

I found the cause in this library, and that issue seemed to have exited since the beginning of this library. When you said

was it with this library, or was it with any of the other libraries like the JavaScript library?

[2021-07-05 01:16] #32 closed

[2021-07-05 01:34] dshukertjr commented on #32
Hey @krsikarya @rphly !

This issue should be fixed in the latest version of [supabase-dart](https://pub.dev/packages/supabase)! Thanks again for reporting this!

[2021-07-05 16:40] w3b6x9 commented on #32
@krsikarya @rphly just wanted to apologize for the lack of communication on changes to the `realtime` server (and `realtime-js`) which caused this issue. We recently merged in a change to the realtime server where we're no longer broadcasting `*` changes. Instead, `realtime-js` client would pick up `*` changes and broadcast appropriately (`INSERT`/`UPDATE`/`DELETE`). We merged in the `realtime-js`

[2021-07-13 00:49] phamhieu commented on #29
@muhammadmateen027 we release supabase_flutter to help with deeplink authentication on mobile. Give it a try and let me know if you are still facing the problem with Google login https://pub.dev/packages/supabase_flutter

[2021-07-13 22:36] Vinzent03 commented on #27
Since I see that the flutter package is released, I see it's implemented with SharedPreferences, but is this really secure?

[2021-07-13 23:55] bdlukaa commented on #27
I don't think so.

[2021-07-13 23:56] bdlukaa commented on #27
I don't think so. [flutter_secure_storage](https://pub.dev/packages/flutter_secure_storage) can be used for Android, iOS and Linux.

[2021-07-14 00:15] phamhieu commented on #27
Hi @Vinzent03 @bdlukaa, originally we choose SharedPreferences cos it's easy to use and it also supports flutter web.

Thanks for the suggestion @bdlukaa, we will look into it and update you as soon as possible.

[2021-07-16 00:35] GZGavinZhao opened #34 "Program won't exit"
# Bug report

## Describe the bug

Program won't exit after account login (other behaviors, such as file upload, have not been tested).

## To Reproduce

[code]

## Expected behavior

It should output `logged in, uid: <some id>` or `Error!".

## Actual behavior

After outputting "logged in" and the id, the program just doesn't exit with no more logs.
[code]
It will remain in this state forever.

#

[2021-07-16 01:24] phamhieu commented on #34
Hi @GZGavinZhao, I'm not sure what do you want to archive. The code result seems correct to me.

[2021-07-16 01:30] GZGavinZhao commented on #34
Sorry I was being unclear. My point is, say you're in a terminal. The expected behavior should be something this:
[code]
The program ends and you can execute something else now. However, what happens to me is:
[code]
The program just keeps running, even though every process is finished.

[2021-07-16 03:16] phamhieu commented on #34
Thanks @GZGavinZhao, can you try again with `supabase-dart` latest version. You will also need to add this to the end of your code block
[code]

As default, `supabase-dart` will manage user session and auto refresh it. So the thread will not exit until a user logout. Let me know if you are still facing the problem with latest version.

[2021-07-16 04:03] GZGavinZhao commented on #34
@phamhieu Yes this resolves the problem. Thank you for the help! We should probably add this info somewhere in our docs, in case other people get stuck on this.

[2021-07-16 08:01] #29 closed

[2021-07-18 00:13] bernaferrari opened #35 "Feedback"
I'm trying to learn supabase and this is my feedback:

- In the [README](https://github.com/supabase/supabase-dart#database), clicking in Database/Authentication/Storage takes me to Supabase docs. I want a link to storage-dart/postgrest-dart/etc. They contain additional samples in their README which I found helpful.

- There is no realtime mention in the README.

- There is no explanation why `res

[2021-07-18 03:04] dshukertjr commented on #35
Hi @bernaferrari !

Thank you for your feedback! I will update the `README.md` with your suggestions.

One thing, the reason why `data` is `dynamic` is because it could also be a `Map` in a case like this:
[code]

[2021-07-18 03:07] bernaferrari commented on #35
You could write somewhere this example, like... Ok, so it can either be a Map or List (miss TypeScript so much). I got confused like... dynamic can be anything, will it be an integer someday? Now I know it won't.

My main issue with supabase is that I don't know how to go from one place to the other in the documentation. Some things are there, but everything is disconnected, I need to Google a lot

[2021-07-18 03:13] dshukertjr commented on #35
Hey @bernaferrari, thanks for the quick reply.

Maybe this is something we can mention in the comments within the code.

Are you referring to [the official documentation](https://supabase.io/docs), or dart specific documentation here? Generally, the Dart library should be very similar to the JavaScript library, but I'm curious to hear what part you were having trouble finding solutions.

[2021-07-18 03:14] bernaferrari commented on #35
Dart only. I'm trying to do the basics on Dart and it is been hard (not impossible, just hard).
I didn't see the JS :(

[2021-07-18 03:22] phamhieu commented on #27
Hi @Vinzent03 @bdlukaa, now you can use any plugin to persist user session with [Custom Localstorage](https://github.com/supabase/supabase-flutter#custom-localstorage)

[2021-07-18 03:22] #27 closed

[2021-07-18 03:29] dshukertjr commented on #35
Thanks for the clarification!

Maybe I an include a sentence somewhere within the readme to direct developers arriving here to the JavaScript references. Would you say that would solve the current problem?

[2021-07-18 03:33] bernaferrari commented on #35
Saying it came from JS wouldn't help. I think if you can take a screenshot of a method from JS and Dart and show why it is better in JS but same in Dart could be veeery helpful. You would make me visit the JS page then.

[2021-07-18 03:57] dshukertjr commented on #35
Having some kind of screenshot might be great for amazing developer experience. Will consider it for future improvements!

For now, I will include a link to the official Supabase documentation kind of like how [supabase-js](https://github.com/supabase/supabase-js) does it. This way, developers should know where to go to look at documentations!

[2021-07-18 20:42] #34 closed

[2021-07-20 03:12] #35 closed

[2021-07-23 07:44] sandbox-apps opened #37 "Ability to generate CUID an alternative to UUID"
# Feature request
Ability to generate CUID via Supabase Package using
`Supabase.generateCUID();`

## Is your feature request related to a problem? Please describe.
CUID has a several benefits compare to Auto Incremented IDs and UUID. One of the benefits is

We can look more here at https://github.com/ericelliott/cuid

[2021-07-26 11:38] phamhieu commented on #13
Hope this helps https://dev.to/adityasubrahmanyabhat/implementing-auth-in-flutter-using-supabase-and-getx-1m14

[2021-07-26 11:38] #13 closed

[2021-08-03 07:46] gauravmehta13 opened #38 "Need Phone Auth"
As supabase has introduced phone Auth, it would be great to try that out in flutter as well

[2021-08-09 00:32] #38 closed

[2021-08-09 22:23] bdlukaa commented on #37
This issue should be raised in the main supabase repository

[2021-08-09 22:23] #37 closed

[2021-08-13 05:57] chimon2000 opened #40 "`stream` function not working on updates"
# Bug report

When using the new `stream` function, database updates are not triggering updates in the application.

## Describe the bug

Same as above.  Here is a sample where `Note` is a simple Dart data class and `_NotesListView` is a simple ListView that creates ListTiles for each note:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1.

[2021-08-13 12:20] dshukertjr commented on #40
Hi @chimon2000!

Thanks for opening this issue. I am struggling to reproduce this issue. If you could help me out, it would be awesome!

First, could you confirm that you have realtime turned on for your `notes` table?
<img width="1378" alt="Screen Shot 2021-08-13 at 21 17 32" src="https://user-images.githubusercontent.com/18113850/129355866-b029c922-8c9c-4a30-a25a-66767500c86c.png">

If you have

[2021-08-13 13:04] bdlukaa commented on #40
What happens if you remove the `.map`?

[2021-08-13 14:09] chimon2000 commented on #40
Testing this now. I did not have this feature enabled.

[2021-08-13 15:17] chimon2000 commented on #40
@dshukertjr @bdlukaa it looks like enabling streams solved my issue. The tutorial I was using had the REST implementation so that's probably why I missed it.  Thanks!!!

[2021-08-13 15:17] #40 closed

[2021-08-16 14:24] akram-95 opened #41 "stream doesn't update realtime"
# Bug report

## Describe the bug
using stream will my UI just update when i add new value but when i delete value, it will not update

[2021-08-17 04:54] StevePhuc commented on #41
I have the same issue. when insert, new row is insert but the stream is not update
The code I using:

[code]

already allow realtime for that table
[code]

![image](https://user-images.githubusercontent.com/27769175/129665823-66883588-b6b3-4932-853a-4a02e11b033e.png)

[2021-08-17 05:37] dshukertjr commented on #41
Thanks @akram-95 for opening this issue and @StevePhuc for also adding more context!

Could you confirm that you have `update` and `delete` realtime events turned on in the Supabase console?

https://app.supabase.io/project/[YOUR_PROJECT_ID]/database/replication

<img width="1380" alt="Screen Shot 2021-08-17 at 14 36 06" src="https://user-images.githubusercontent.com/18113850/129669376-3afb64d5-6d

[2021-08-17 05:42] akram-95 commented on #41
Hello @dshukertjr  , yeah o confirm that I enabled all real time functions

[2021-08-17 06:36] dshukertjr commented on #41
@akram-95
Thanks for confirming. Did you enable realtime via Supabase console or though running your own SQL?

If you used your own SQL, could you ensure if [full replication](https://supabase.io/docs/reference/javascript/subscribe#listening-to-deletes) is enabled?
[code]

Also, would it be possible for you to share the scheme of the table you are using? With it, I might be able to reproduce it on

[2021-08-17 06:42] dshukertjr commented on #41
@akram-95
Sorry, please ignore the previous message that you received in your email inbox.

Could you share the scheme of the table at which you are trying to listen to as stream?

[2021-08-17 07:23] StevePhuc commented on #41
after update sql with `alter table chat replica identity full;` it work now. Thanks @dshukertjr

[code]

[2021-08-17 08:28] dshukertjr commented on #41
@StevePhuc
I'm glad you were able to fix it. I took down my previous post, because I thought that might not have been the issue, but I guess it was!

[2021-08-17 08:40] dshukertjr commented on #41
@StevePhuc
Weird is thing is that I actually do not have `identity` set to `full`, and yet am able to receive updates and deletes.

When I run
[code]

I get `default`.  Could you maybe try to run the above SQL command to see what you get for tables that you haven't set to `full` yet?

[2021-08-17 08:57] StevePhuc commented on #41
`Could you maybe try to run the above SQL command to see what you get for tables that you haven't set to full yet?`

![image](https://user-images.githubusercontent.com/27769175/129695964-3e3f1138-a0ac-424e-ad51-17d955666b5f.png)

[2021-08-17 09:13] akram-95 commented on #41
@dshukertjr
Did you mean that ?
![Uploading 129698218...]
![Uploading 129698233...]

[2021-08-17 09:14] akram-95 commented on #41
@dshukertjr
Did you mean that ?
![image](https://user-images.githubusercontent.com/55693316/129698584-be5ad714-63d5-4ce7-932b-65c0ea68266c.jpeg)

![image](https://user-images.githubusercontent.com/55693316/129698623-1ff756ab-2a8b-4443-be32-2b72d2457c3c.jpeg)

[2021-08-17 09:17] akram-95 commented on #41
When I did run it , I did get no rows gets

[2021-08-17 10:30] akram-95 commented on #41
@StevePhuc
How did you solve the problem?

[2021-08-17 11:00] dshukertjr commented on #41
@akram-95
Sorry, for not being clear. Could you show me your table definition?
If you created your table with SQL, then the SQL code would be better, but if you have created from Supabase's console, then a screenshot is okay. Also if you could let me know which column is the primary key, that would be great.
<img width="967" alt="Screen Shot 2021-08-17 at 19 49 33" src="https://user-images.githubu

[2021-08-17 11:12] akram-95 commented on #41
I did create my table from the console
And here the table definition

![image](https://user-images.githubusercontent.com/55693316/129716222-f1ad3ca8-73fd-4bdd-8b44-d2f1e9dddffd.jpeg)

[2021-08-17 11:33] dshukertjr commented on #41
@akram-95
I can see that you have an `id` property, but couldn't really tell the rest. You can take a screenshot by pressing command + Shift + 4 on mac!

Anyway, let me start over. I did create a brand new Supabase project, and was able to receive all `Insert`, `Update`, and `Delete` events with the following steps. Please follow these steps and let me know if they work. It's simple. No need to tw

[2021-08-17 12:03] akram-95 commented on #41
@dshukertjr I did make it exactly how you told me
It doesn't update the ui
Here is a video of that https://user-images.githubusercontent.com/55693316/129722286-0e1e3581-f460-4d2d-ad8f-11921457178e.MOV

[2021-08-17 12:35] dshukertjr commented on #41
@akram-95

Thanks for sharing a video.
Okay, in that case, could you make sure that you have primary key for your table? When you create a table, you need to have this check box checked.
<img width="1364" alt="Screen Shot 2021-08-17 at 21 04 58" src="https://user-images.githubusercontent.com/18113850/129722585-c75a1e6c-a2ad-4a90-88eb-bc4c1184c326.png">

Also, do you have a public repo that I can t

[2021-08-17 12:50] akram-95 commented on #41
@dshukertjr
It works now , I could know how to solve it
When we create a table and than enable the real-time , it doesn't work perfectly
I needed to delete it and enable real-time and than create the table and it works now perfect
I wanted to share that with you , maybe it can help you to understand the behaviour better

Now I have another issue , I get this error when I use nested Streambuilder !

[2021-08-17 13:40] dshukertjr commented on #41
@akram-95
So glad to hear that it is working now. Thanks for sharing the steps you took to make it work. We will work on improving the documentation on how to get started with it.

Thanks for reporting the issue with nested `StreamBuilder`. Could you actually open another issue for that one?

[2021-08-17 13:40] #41 closed

[2021-08-17 14:08] akram-95 opened #42 "bug with nested Streambuilder"
# Bug report
hello,
i get this issue when i use nested Streambuilder

![](https://user-images.githubusercontent.com/55693316/129728546-4cd16460-15a4-4b61-8399-0b9fa9018831.jpeg)

does anyone know how to solve this issue?

[2021-08-17 16:55] bdlukaa commented on #42
How does your code look like?

[2021-08-17 22:48] akram-95 commented on #42
Hey @bdlukaa

Ok I show a screenshot of it
![image](https://user-images.githubusercontent.com/55693316/129810655-bbe1b75a-adaf-454d-8c45-ca68cf09f740.jpeg)

[2021-08-17 22:51] bdlukaa commented on #42
hmm. it's probably because it's inside of a ListView.builder

[2021-08-17 22:54] akram-95 commented on #42
@bdlukaa
Ok , there is another possibility to make it work ?
I'm new using supabase , I was using Firebase, it wasn't a problem to do nested Streambuilder With listview

[2021-08-17 22:59] bdlukaa commented on #42
@dshukertjr should we remove the `.close()` call when there's no listeners?

StreamController should not be a memory issue.

[2021-08-17 23:47] dshukertjr commented on #42
@bdlukaa
Yeah, that makes sense. Great point. Let's do that!

[2021-08-17 23:52] akram-95 commented on #42
@dshukertjr @bdlukaa

I hope that will solve the issue
Thank you fir your support guys 🙏

[2021-08-20 21:40] dshukertjr commented on #42
@akram-95
This issue should be fixed with the latest release of `supabase` and `supabase_flutter` package! Thanks for the patients!

[2021-08-20 21:40] #42 closed

[2021-08-20 22:02] akram-95 commented on #42
@dshukertjr That sounds great
I will try it , thank you 🙏

[2021-08-20 22:32] akram-95 opened #44 "stream() does not work properly with nested StreamBuilders"
# Bug report
The Streambuilder doesn't update in real-time , it just do that when I add a new row to the table but when I update a row in the table , it doesn't update

## Screenshots
https://user-images.githubusercontent.com/55693316/130299526-566d399d-4142-4451-a981-8fd10880baa8.MOV

[2021-08-20 23:00] dshukertjr commented on #44
@akram-95

Thanks for opening this issue. Please do follow the issue template so that we can reproduce this issue on our end. Update events seem to work on my end. If you could share a minimal code snippet to reproduce this issue, that would be great.

[2021-08-20 23:14] akram-95 commented on #44
here is the code of that
[code]

[2021-08-21 00:09] dshukertjr commented on #44
@akram-95
Okay, I am able to reproduce it. I haven't been able to dig all the way down to the cause of this, but my guess is that it is related to this characteristics of Supabase

From [supabase-js readme.md](https://github.com/supabase/realtime-js#creating-a-socket-connection)

When the outer `StreamBuilder` rebuilds, the inner `StreamBuilders` are quickly rebuilt again, causing the sockets to q

[2021-08-21 00:15] dshukertjr commented on #44
Will dig deeper into this issue and share anything that I find here in the meanwhile!

[2021-08-21 07:21] akram-95 commented on #44
@dshukertjr Thank you so much for your support , but unfortunately it doesn't work and I did notice that when I update an array of varchar , it's not empty, it has the value [archa]
From where does it come ?

[2021-08-21 07:33] akram-95 commented on #44
when i update the array of char stars , in the result of execution it's true but in the listen of stream, i get the value [archa]

![image](https://user-images.githubusercontent.com/55693316/130314450-4eb7820c-6a33-4c0f-ab9b-75b71b37f8e9.png)

[2021-08-21 07:38] dshukertjr commented on #44
@akram-95

Could you please share your table schema as well as the code you are using to produce the above log?

[2021-08-21 07:42] akram-95 commented on #44
Yeah please https://user-images.githubusercontent.com/55693316/130314658-f0b05b39-ab8f-4817-8ad1-1f9382754fdd.MOV

[2021-08-21 07:43] akram-95 commented on #44
@dshukertjr On the table the array stars is empty and when I update it , it becomes an new user Id when I want to listen to that I get [archa]

[2021-08-21 07:46] akram-95 commented on #44
the code for updating a Question
![image](https://user-images.githubusercontent.com/55693316/130314761-f78890d1-5fc4-4409-a41e-964da9846d34.png)
the code for listening to changes in the table Questions
![image](https://user-images.githubusercontent.com/55693316/130314779-44b59da2-b6fe-4f07-a8ae-805dce1cb2cd.png)

[2021-08-21 12:15] dshukertjr commented on #44
@akram-95

When you share your code, it is better to share it as text rather than image. That way other people can just copy and paste.

In the first code block, could you share what you are assigning to `newQuestionValue`?

[2021-08-21 12:37] akram-95 commented on #44
i used stars and likes as an array for every Question , that's the only reason , i did it always like that using firebase
that's the code for the first Block

[code]

[2021-08-21 14:07] dshukertjr commented on #44
@akram-95
Thanks for sharing the code! I found a bug within `realtime-dart` that is causing the array value not being returned correctly and returning ['archa'] instead. Have to go to bed for now, but will fix it first thing in the morning! Thanks for the patients!

[2021-08-21 14:54] akram-95 commented on #44
@dshukertjr Nice to hear
Good night and thank you for your support

[2021-08-22 22:26] dshukertjr commented on #44
@akram-95
With the latest update, you should be able to receive array values correctly. Thanks for your patients!

[2021-08-22 22:30] akram-95 commented on #44
@dshukertjr Oh yeah
It works now perfectly, thank you 🙏

[2021-08-22 22:35] dshukertjr commented on #44
Realtime seems to close on its own when `StreamBuilder` is quickly rebuilt as stated [here](https://github.com/supabase/supabase-dart/issues/44#issuecomment-903016255), so will keep this issue opened until we can properly fix that issue.

[2021-08-23 11:17] awalias opened #45 "X-Client-Info header"
we're rolling out a header similar to Stripe's App-Data in all of the client libs so issues can be debugged more easily between the client and the backend

the javascript libs are done already: https://github.com/supabase/supabase-js/pull/238

the format is: `X-Client-Info: supabase-js/1.11.0`

for client libs that wrap others (like how supabase-js wraps gotrue-js) we allow the wrapper lib to **ov

[2021-08-26 17:10] chimon2000 opened #46 "Expose SupabaseQueryBuilder"
# Feature request

## Is your feature request related to a problem? Please describe.

I would like to create a Supabase data source to share throughout my application, similar to the following:

[code]

But I get the following lint error: `Don't import implementation files from another package.dart(implementation_imports)`

## Describe the solution you'd like

Export query builder:

[code]

Additi

[2021-08-30 01:27] faststare08 commented on #13
thank you.

[2021-08-30 12:46] #46 closed

[2021-09-10 13:55] akram-95 opened #48 "Interrupt the connection with supabase"
I get this exception VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: SocketException: OS Error: Connection refused, errno = 61, address = eorvfftziolcmktbcetw.supabase.co, port = 49429 and  then I can't fetch data more from supabase and I can't open my console on supabase also

[2021-09-10 17:20] bdlukaa commented on #48
Is this still happening?

[2021-09-10 18:30] akram-95 commented on #48
No , it happens so often

[2021-09-11 23:07] phamhieu commented on #48
Hi @akram-95 can you send email to support@supabase.io with your project and fetch query info. We can take a look at the db instance.

[2021-09-11 23:07] #48 closed

[2021-09-11 23:15] phamhieu opened #49 "Enable branch protection rule"
# Chore

## Describe the chore

I will enable [branch protection rule](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches) on all dart/flutter repos.

In the future, we can’t merge code directly into the repo. Need to create PR and at least 1 approval review in order to merge.

FYI: @bdlukaa

[2021-09-11 23:42] dshukertjr commented on #49
Love it!

[2021-09-12 13:18] bdlukaa commented on #49
Sounds good to me

[2021-09-12 23:45] #49 closed

[2021-09-13 21:36] akram-95 opened #52 "Authentication with social media"
I'm using supabase as a backend and I'm so happy to use but I want to implement authentication with social media.
Can you please implement this feature?
It would be great

[2021-09-15 11:09] dshukertjr commented on #52
Hi @akram-95 !

You can actually sign users in via social account today!

You can follow the steps [here](https://github.com/supabase/supabase-flutter#supabase-3rd-party-logins-config) to implement deeplink. Then you can use the [`auth.signInWithProvider()`](https://supabase.io/docs/reference/dart/auth-signinwithprovider) method available on [supabase_flutter](https://pub.dev/packages/supabase_flu

[2021-09-15 11:18] akram-95 commented on #52
@dshukertjr , but how can I use this method if I'm already using Supabase-dart?

[2021-09-15 11:43] dshukertjr commented on #52
@akram-95

You could start using `supabase_flutter`!
`supabase_flutter` contains everything that `supabase_dart` contains, so migration should not be that hard!

[2021-09-15 11:49] akram-95 commented on #52
Yeah but the point supabase_flutter doesn't yet support null safety

[2021-09-15 11:56] dshukertjr commented on #52
@akram-95
`supabase_flutter` does support null safety. You can read more about it [here](https://github.com/supabase/supabase-flutter/issues/18#issuecomment-907589357), but `supabase_flutter` not having the `null-safety` badge on pub.dev is just a bug on Flutter and index.db! You can safely and confidently migrate to `supabase_flutter`!

[2021-09-15 12:02] akram-95 commented on #52
@dshukertjr Ok thanks

[2021-09-15 12:14] #52 closed

[2021-09-15 22:24] #45 closed

[2021-10-05 13:11] ali-1989 opened #54 "CERTIFICATE_VERIFY_FAILED on connection"
Hi.

I use this:

[code]
I see **'HandshakeException: Handshake error in client (OS Error: 	CERTIFICATE_VERIFY_FAILED: certificate has expired(handshake.cc:359))**'

what?

[2021-10-05 19:14] ali-1989 commented on #54
I temporarily solved my problem.
solution here:

https://stackoverflow.com/questions/54285172/how-to-solve-flutter-certificate-verify-failed-error-while-performing-a-post-req

But this is not the right solution.

[2021-10-05 22:45] dshukertjr commented on #54
It seems like this has been happening to other people as well.
https://github.com/supabase/supabase/issues/3427

You can send your project details to support@supabase.io to have the team take a look at your project!

[2021-10-06 00:57] ali-1989 commented on #54
What information should I send? My project is big. Please tell me more precisely what to send.

**I repeat again, I did not change the project. The code that used to work does not work now. I think the problem is with the server and the certificate.**

[2021-10-06 01:03] darora commented on #54
@ali-1989 - including your project ref (`tyzsguwlnxsbvfmbrrir` based on your snippet) should be sufficient

[2021-10-06 01:31] darora commented on #54
@ali-1989 - I suspect you're running into a dart/flutter-specific issue: https://github.com/dart-lang/io/issues/83

Can you confirm the Android version involved?

[2021-10-06 06:54] ali-1989 commented on #54
My android version is 7.0.

This problem seems to be related to the dart language, not **supabase** package.

[2021-10-06 08:22] inian commented on #54
Can you try upgrading your android version @ali-1989? from the issue linked by @darora above, it looks like Android 7 and below have an issue with Lets Encrypt after the root cert switch

[2021-10-06 11:07] takenoto commented on #54
Can confirm this on Android 6.0.1 // Samsung Galaxy On7. I'm not sure this is a dart problem because **I'm sure my code was working** and now it isn't. I didn't change ANY SUPABASE-RELATED CODE, just some widgets to this new version. The Android version is also the same. I did not update flutter neither dart between the previous and the current versions.

[2021-10-06 12:05] darora commented on #54
@takenoto - it's caused due to the behaviour of Dart's cert verification routines, and a root CA cert expiring on the 30th of September, as explained on https://github.com/dart-lang/io/issues/83 - the combination of the two results in breakage of code that was functional prior to the 30th.

In terms of workarounds, the solution at https://github.com/dart-lang/io/issues/83#issuecomment-933270310 is

[2021-10-06 12:16] dshukertjr commented on #54
I just finished reading [this article](https://scotthelme.co.uk/lets-encrypt-old-root-expiration/) and recommend reading it if you are still uncertain what the cause is. Great read.

Basically there is really nothing we can do at this point to fix this, and this is the world we live in now, it sounds like. At least there is nothing we can do on the Supabase Dart SDK level.

[2021-10-06 14:21] takenoto commented on #54
Thank you for clarifying

[2021-10-12 03:21] bohan0 commented on #54
This resolved the problem for me on Android Emulator - Nexus One - API 22 (Android 5.1 (Google APIs Image):

[code]

I tried the method of including the isrgrootx1.pem file in assets/ca/ in pubspec.yaml , then loading the contents using rootBundle.load() or PlatformAssetBundle().load(), but for some reason it was not working for me (probably due to a relative path issue).

[2021-10-22 20:23] w3b6x9 opened #56 "Support WALRUS (Postgres RLS) Integration with Realtime Server"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, Realtime server sends all database changes to all connected clients despite Postgres Row Level Security policies. This poses security concerns when developers wish to broadcast database changes containing sensitive data to an authorized subset of connected clients based on tables with RLS enabled and r

[2021-10-25 14:22] julius-stuemmler opened #58 "Deleting User from Authentication in dart"
# Bug report
Hey guys, maybe I simply didn't found it, but I want to implement a simple function to delete a user from the supabase authentication. I found [this](https://supabase.io/docs/reference/javascript/delete-user)  for js, but in Flutter I don't get this option.
I can use `client.auth.api`, but the delete function is missing.

dependencies:
flutter: 2.5.3
dart:  2.14.4
supabase: ^0.2.8

[2021-11-01 08:36] JasonChiu-dev opened #60 "Needed: Database Transaction handling for multiple database actions if any error occurred Rollback for data consistency."
# Feature request
Database Transaction handling for multiple database actions.

## Is your feature request related to a problem? Please describe.
I need the transaction handling from supabase.io tech team as follow:
Regarding BEGIN / COMMIT / ROLLBACK on Supabase, like:
[code]
But I got answer from supabase.io tech team that no method to handle transaction. only rpc.

I don't know how to really im

[2021-11-01 12:17] bdlukaa commented on #60
This is a valid request, but I don't think this will be addressed any time soon

[2021-11-01 12:31] JasonChiu-dev commented on #60
1. Thank you for your reply. The transaction is a key function for database handling. How long will it release?
2. I don't know how to really implement the correct rpc function for multiple database actions with complex arguments for database actions, including insert to the first table by multiple rows and then update the second table for different rows with different id and then update the third

[2021-11-01 17:34] bdlukaa commented on #60
In my opinion, creating a rpc function is the best option.

There are some examples out there in the internet.
- https://medium.com/geekculture/using-stored-procedures-rpc-in-supabase-to-increment-a-like-counter-9c5b2293a65b
- https://supabase.io/docs/reference/dart/rpc

My question is: why would there be any error in the transaction?

[2021-11-02 11:34] JasonChiu-dev commented on #60
The app is running on cloud and multi-users environment. I don't what kind of error will occurred but for data consistency, it is needed to check any error especially the THREE TABLES' actions are in ONE transaction.

[2021-11-02 11:39] JasonChiu-dev commented on #60
I do need the feature: BEGIN / COMMIT / ROLLBACK on Supabase, like:

await supabase.transaction(
  supabase.from(...).insert(table1...),
  // if any error, rollback.
  supabase.from(...).update(table2...)
  // if any error, rollback.
  supabase.from(...).updata(table3...)
  // if no error, Commit.
)

BANKing Transaction is a very good example for why I need the function as I mentioned above.

[2021-11-02 11:43] JasonChiu-dev commented on #60
correct typo: I don't know what kind of error will occurred during the transaction. But for data consistency, it is needed to check any error and rollback, especially the THREE TABLES' actions are in ONE transaction and it has to commit when the THREE TABLEs actions are all succeed.

[2021-11-02 14:15] bdlukaa commented on #60
As I said, this could be achieved as a rpc function. Supabase uses Postgre, which support transactions.

See https://www.postgresql.org/docs/8.3/tutorial-transactions.html

Unfortunately Supabase is still in beta and doesn't have all these features yet. Tho, this can be achived with a rpc function.

Tho this a valid request to make to the main team

[2021-11-02 23:25] steve-chavez commented on #60
@JasonChiu-dev I've added an example for how to do the above on https://github.com/supabase/supabase/discussions/3732#discussioncomment-1579200. Basically you just need to do RAISE on the function.

I'll close this one, a more general transactions interface can be discussed at https://github.com/supabase/postgrest-js/issues/219.

[2021-11-02 23:25] #60 closed

[2021-11-06 10:20] dshukertjr commented on #56
This is now implemented and released! Looking forward to using WALRUS in my app!

[2021-11-06 10:20] #56 closed

[2021-11-09 13:57] w3b6x9 commented on #56
@dshukertjr awesome work!

[2021-11-24 22:49] bit-burger commented on #58
You should not be using this in flutter anyway, its for a server

[2021-11-24 23:14] dshukertjr commented on #58
@julius-stuemmler
As @bit-burger has said, [`deleteUser()`](https://supabase.com/docs/reference/javascript/auth-api-deleteuser) method requires `service_role`, and therefore needs to be called from a server.

[2021-11-28 08:43] dukesx opened #62 "Dart client unable utilize eq() or match() to retrieve a row from table"
# Bug report

## Describe the bug

I am trying to retrieve a row with a specific UUID using dart client.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

using this code :

[code]

where ```id``` is column containing UUID of row and ```91770f86-14e9-40d9-8ff9-20830f7bba8d``` is a UUID in string used to compare.

## Expected behavior

I expect that m

[2021-11-29 04:28] w3b6x9 opened #63 "Send Valid User Access Token to Realtime Server"
# Feature request

Realtime server is now checking every minute to verify the validity of the user access token and storing updated user information from the JWT to Realtime's `subscription` table (used by Realtime WALRUS).

## Describe the solution you'd like

1. Realtime client pushes the user access token to all channels every heartbeat, which defaults to 30 seconds (see [ref](https://github.co

[2021-11-29 14:32] elhe26 commented on #44
Any updates?

[2021-11-29 16:11] #62 closed

[2021-11-29 21:22] offline-first opened #64 "RealtimeSubscription Unhandled Exception: type 'Null' is not a subtype of type 'List<dynamic>' in type cast"
## Bug report

When I listen to realtime events, and insert data to table, the `supabase_realtime_payload.dart` throws this exception.

[code]

## Reproduce

### Backend: https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone

### Flutter
[code]

[code]

## plugin version:
- supabase: ^0.2.9
- flutter sdk: ">=2.12.0 <3.0.0"
- Platform: iOS 15.1

[2021-11-30 23:17] dshukertjr commented on #64
Sorry for the late reply!

@offline-first Yup, your fix looks amazing! Would you like to open a PR in [`realtime_dart`](https://github.com/supabase/realtime-dart)?

[2021-11-30 23:21] dshukertjr commented on #44
Hi @elhe26
We have been busy adding [WALRUS](https://github.com/supabase/walrus) support to the realtime client, so there has not been any updates on this issue, but did you try the [workaround](https://github.com/supabase/supabase-dart/issues/44#issuecomment-903016255)? It is generally not a very good idea to nest StreamBuilders anyway in my opinion because every time the parent rebuilds, the chi

[2021-11-30 23:29] dshukertjr commented on #64
@offline-first BTW, I wonder why `e['flags']` was null in your case. Would you be able to share the scheme of your `messages` table?

[2021-12-01 09:26] offline-first commented on #64
@dshukertjr PR is on the way

[code]

[2021-12-01 09:28] offline-first commented on #64
@dshukertjr
#65

[2021-12-01 17:47] w3b6x9 commented on #64
@dshukertjr Realtime Security (WALRUS) no longer sends `flags` but the old Realtime still does. I think https://github.com/supabase/supabase-dart/pull/65 will help to maintain backwards compatibility.

[2021-12-01 17:51] burggraf commented on #64
I'm watching this.

[2021-12-01 20:35] bit-burger opened #67 "Int columns get converted to int on realtime listening (for one row)"
# Bug report

## Describe the bug
After getting the RealtimeSubscription Unhandled Exception: type 'Null' is not a subtype of type 'List<dynamic>' in type cast error and fixing it, im fed up again, if I get realtime data from my user profile (which is discriminated with the `:id=eq.$userId`) every column that is an int gets converted to a String in dart;

## To Reproduce

Pretty much said this, ju

[2021-12-01 20:43] bdlukaa commented on #67
Duplicate of #64

[2021-12-01 20:53] #58 closed

[2021-12-01 21:24] bit-burger opened #68 "Int column turned to String in realtime listening (for one row)"
# Bug report

## Describe the bug
After getting the RealtimeSubscription Unhandled Exception: type 'Null' is not a subtype of type 'List<dynamic>' in type cast error and fixing it, im fed up again, if I get realtime data from my user profile (which is discriminated with the `:id=eq.$userId`) every column that is an int gets converted to a String in dart;

## To Reproduce

Pretty much said this, ju

[2021-12-01 22:03] bdlukaa commented on #68
Duplicate of #64.

Also, could you not create another issue with the same information?

[2021-12-01 22:03] #68 closed

[2021-12-01 23:16] bdlukaa commented on #44
`stream()` should not be used on nested `StreamBuilder`s. When it's rebuilt, the stream is executed every time the screen is rebuilt (since you're calling the function on build time, which is against Flutter's rule of not executing some functions on the `build` method). The `stream()` will also rebuilt when you hot realod, so this is not an issue with the current implementation.

What you can do i

[2021-12-02 00:04] #64 closed

[2021-12-03 16:05] bit-burger commented on #68
@bdlukaa Sry accidentally sent it two times because i had duplicated the tab, won't happen again!

[2021-12-03 16:10] bit-burger commented on #68
But i am failing to understand how this is a duplicate, no one mentions int columns or whatever type being changed to String columns, I even have overridden my dependencies with that exact branch of Supabase before it was merged, because before that nothing worked and after the installing of that branch there were the issues with the String columns, so it is definitely not fixed

[2021-12-03 16:15] bdlukaa commented on #68
I assumed the issue was with this.

[2021-12-03 16:15] bit-burger commented on #68
Here a small bit of code to maybe better understand the problem:
[code]

[code]
As you can see I have to convert each and every column (I put them in ifs checking the type incase Supabase changes again)

[2021-12-03 16:16] bit-burger commented on #68
@bdlukaa yes im sorry for not making it directly clear

[2021-12-07 07:57] Sahil-kachhap commented on #29
@phamhieu I was trying to implement google authentication. As per the documentation, we require a google client id and a client secret. But after following those steps I am just getting a client id (no client secret, I have got a JSON file though but it too does not have anything sort of secrets). Seems like google client secrets have been deprecated for native applications. Can you suggest anythi

[2021-12-07 14:02] dshukertjr commented on #29
@Sahil-kachhap It appears that you have selected Android application in your case, but at the moment, you need to create a OAuth 2.0 Client IDs for web application even for native apps using Flutter. Don't worry, you will be able to sign users in form your iOS and Android apps even if you create a web application OAuth 2.0 Client ID. If you choose web application, it will give you all the necessar

[2021-12-10 10:41] brycegoh opened #71 "Latest posgres update breaks querying with or filter"
# Bug report
Using supabase-dart to query a table using filters but it returns null.
Supabase team reverted the recent postgres upgrade and everything works now.

# Reproduce:
### Query table:
supaBaseClient
        .from('messages')
        .select()
        .or("only_seen_by.eq.$userId, only_seen_by.is.NULL");

### Error:
PostgrestError(message: "failed to parse logic tree ((only_seen_by.eq.6, o

[2021-12-13 17:57] gcostaapps opened #72 "Array being passed as "[]" in realtime event"
Hi, I have an array field as one of my columns. When the realtime gets the inserted event and the array is empty my payload.newRecord contains an empty array as string ("[]") and not the array itself. I think it wasn't this way before because my code was working and now I tested and it's breaking. Using the latest version of supabase.

[2021-12-13 18:28] gcostaapps opened #73 "Boolean values comes with null in realtime events"
Hi, I have a table that has some boolean values and I'm listening to it through .on().subscribe(). Whenever I update a value the payload that I receive comes with boolean values as null. Even when I update a boolean value, the update event is triggered but the value of the property comes with null.

[2021-12-14 13:21] bdlukaa commented on #72
Maybe related to https://github.com/supabase-community/realtime-dart/issues/31 ?

[2021-12-14 13:22] bdlukaa commented on #73
I believe this was fixed on https://github.com/supabase-community/realtime-dart/pull/30

[2021-12-14 16:59] Vinzent03 opened #74 "Bug: flags field is missing on RLS-Realtime"
See https://github.com/supabase-community/supabase-dart/issues/74#issuecomment-999525396

[2021-12-20 15:47] Vinzent03 commented on #74
I migrated my db now to a new project with PG 14. Looks like the issue doesn't exist anymore.

[2021-12-22 12:02] Vinzent03 commented on #74
RLS-Realtime doesn't ship the `flags` field anymore. https://github.com/supabase/realtime/issues/210#issuecomment-999158905

So it isn't possible to generate the `primaryKeys` list. See [here](https://github.com/supabase-community/supabase-dart/blob/main/lib/src/supabase_realtime_payload.dart#L35) I think we can just remove it, because all supabase project use RLS-realtime if I understand @w3b6x9

[2021-12-23 17:28] JPGarCar commented on #74
Hi @Vinzent03 wondering if this client is using Realtime RLS or the old Realtime implementation, as it seems like Realtime RLS is going to be the default for all supabase projects.

[2021-12-23 17:46] Vinzent03 commented on #74
@JPGarCar I don't really know what you mean, but this client should work for both systems for backwards compatibility. I don't think there are many changes needed to be rls-realtime compatible. The only issue I experienced is this one.

[2021-12-28 18:35] dukesx opened #76 "Kong Error : No Api key found in request"
# Bug report

## Describe the bug

I am trying to use flutter client of supabase to send a password reset link, however i am using "redirect to" param to redirect the user to my app, where i show my user the reset form. When the user clicks on reset link received in email, the user receives the error

Which Link Do i receive ?
[code]

Where does the above link redirect to (when clicked) ?

[code]

[2021-12-29 00:08] w3b6x9 opened #77 "Realtime RLS Broadcasts Errors"
Realtime RLS will be broadcasting database changes with `errors` so that clients can capture what went wrong when listening to database changes.

Please see here for the current error states: https://github.com/supabase/walrus/tree/generic_claims#error-states.

Realtime RLS will broadcast `errors` as either `null` (no errors) or an array of strings (at least one error present).

Here are two examp

[2021-12-29 01:53] phamhieu commented on #76
@kangmingtay is it gotrue server bug with custom redirect URL scheme for mobile ?

[2021-12-29 17:40] dukesx commented on #76
Anyone help ? My app launch is in few days and this issue is now a bummer for my patients.

[2021-12-30 07:12] kangmingtay commented on #76
hey @dukesx, can you please email support@supabase.io so we can investigate your project if its urgent? thanks!

[2021-12-30 10:00] dukesx commented on #76
@kangmingtay i have emailed supabase support.

[2021-12-30 12:49] nitheshb opened #78 "On Stream: The new updated value/row is always replacing the first element of return List of rows."
The return stream rows on change is misbehaving.

Lets assume we are trying to stream the table with 5 records and displaying in ListviewBuilder.
Problem:  when we change a column in row 2  then the return  list is containing the new changed row by replacing the first record & keeping the old record unchanged .

which means the length of object ===  5(count of records) but first row will be the ch

[2022-01-01 07:30] satvikpendem opened #79 "Can't use `StreamSubscription` with realtime streams"
I'm trying to use `StreamSubscription` with Supabase realtime streams but it looks like my stream is not updating properly. If I make my own basic stream, I'm able to grab the `StreamSubscription` from the `listen` method but not with Supabase's streams.

It does seem to work fine with a `StreamBuilder` however, so the realtime functionality definitely works, just not with `StreamSubscription`s fo

[2022-01-04 15:24] topperspal opened #80 "Supabase doesnot export gotrue_error.dart class"
Supabase doesnot export gotrue_error.dart class because go_true is not released after 0.1.2

[2022-01-05 11:47] Vinzent03 commented on #78
Duplicate of #74 . I explained the reason there.

[2022-01-05 11:49] Vinzent03 commented on #74
Any updates? I think the `stream` method is crucial for many apps. I can submit a pr, but I want to make sure my idea of solving this (the user has to enter the primary key manually) is accepted by you.

[2022-01-06 11:19] nitheshb commented on #74
@Vinzent03 the issue of appending changed data to the top of the output still exists even after modifying my table structure to enter primary key column values manually without using any of the default auto gen functions. More over if any of the row deletions is also not being recognized. Please suggest.

[2022-01-06 11:28] Vinzent03 commented on #74
@nitheshb Sorry but I don't understand what you want to tell me at all. With "the user has to enter the primary key manually" I meant the primary key name has to be given to the stream method as parameter, because that information is not coming from the backend anymore. I should have said `dev` instead of `user`, maybe.

[2022-01-06 11:31] nitheshb commented on #74
@Vinzent03 can u please share any syntax on how to pass the key as a parameter to stream.

[2022-01-06 12:40] Vinzent03 commented on #74
@nitheshb
[code]

[2022-01-08 04:46] nitheshb commented on #74
@Vinzent03 The above syntax is not valid. As stream method doesn't take any parameters as per version : supabase: ^0.2.10.

Syntax I tried:  Supabase.instance.client.from('test').stream("my_key").execute();
Error Msg: Too many position arguments: 0 expected but 1 found .

[2022-01-08 09:31] Vinzent03 commented on #74
I said

and this issue is still open, so it's not fixed. You asked for a syntax example. It's just a **proposal** to fix this issue. That parameter doesn't exist, because it's the way I would solve this issue, but I don't want to submit a pr if the supabase-comunity devs don't like that way of solving the missing information about primary keys.

[2022-01-08 11:40] nitheshb commented on #74
Thank you I got it.it make sense. Sorry for my ignorance.

[2022-01-08 14:52] dshukertjr commented on #74
So sorry for coming in late. Had been dealing with some personal issues lately.

@Vinzent03

I was thinking how we can solve this, and I love this route.

[2022-01-11 09:38] phamhieu commented on #80
Hi @topperspal we published `supabase-dart v0.2.11` with the latest gotrue client.

Can you give it a try. Thank you

[2022-01-11 09:38] #80 closed

[2022-01-14 05:54] Jay-flow commented on #76
I have a similar issue.
Is there anything that progress?

[2022-01-14 06:02] phamhieu commented on #76
Hi @Jay-flow can you open a new issue with related detail for your problem.

[2022-01-14 06:02] #76 closed

[2022-01-14 06:15] Jay-flow commented on #76
In my case, there is a problem with the signup

It receives normally when signing up by e-mail, but when I click the link I received, an error occurs as shown in the picture below.
![Screenshot_2022-01-14-14-59-15-994_com android browser](https://user-images.githubusercontent.com/29420674/149460640-95771f09-6cdf-4e05-80a6-9eb0c30f1cd3.jpg)

The redirect URL is as follows.
https://${API_URL}/auth/v

[2022-01-14 06:29] Jay-flow opened #86 "Kong Error : No Api key found in request"
# Kong Error : No Api key found in request

related #76

In my case, there is a problem with the signup

It receives normally when signing up by e-mail, but when I click the link I received, an error occurs as shown in the picture below.
![Screenshot_2022-01-14-14-59-15-994_com android browser](https://user-images.githubusercontent.com/29420674/149460640-95771f09-6cdf-4e05-80a6-9eb0c30f1cd3.jpg)

[2022-01-14 06:37] phamhieu commented on #86
@Jay-flow have you tested your deeplink config?

- You can go to this website https://halgatewood.com/deeplink from your test device
- input the deeplink and click load button
  - if your mobile app launch successfully then the deeplink config works properly

[2022-01-14 08:50] phamhieu opened #87 "stream returns invalid response"
(Note: Before upgrade to 0.2.12, the stream worked correctly.)

I found the stream has a bug which cause an error: stream replace the correct row and cause error.

When I insert a row into a table, it shows the following error message:
"The method 'toDouble' was called on null.
Receiver: null
Tried calling: toDouble()"

In fact, I checked the data row I insert into the table is correct as follow:

[2022-01-14 09:40] Vinzent03 commented on #87
I don't think my changes in #82 are the reason, because I didn't change anything on insert. I guess the bug is in 0.2.11.

[2022-01-14 10:21] JasonChiu-dev commented on #87
1. **The stream bug happened since yesterday.**  And my supabase package setup on  pubspec.yaml file was: supabase: ^0.2.10 at the beginning.

2. On Thu, 13 Jan at 2:06 PM, I  reported an error to Supabase tech team:
**Hi, It worked ok about one hour ago, but I can not log into Supabase now and shows error message: "LateInitializationError: Field 'changedAccessToken' has not been initialized.". Ho

[2022-01-14 16:57] JasonChiu-dev commented on #87
The insert action is correct. It means the correct row data really insert into the database table successfully, but the stream fetch the data and change many columns' data with null. This is the real problem.

[2022-01-14 22:28] Jay-flow commented on #86
@phamhieu

I'm sorry. It was my mistake.
I didn't know deep link shouldn't include '_'
When I change the underbar to a dash, it moves to the app normally.

I have one more question. When I go to the app, I still go to the sign-in page, so I don't know what to do after that. Can you give me any advice on this?

Thank you for your help

[2022-01-14 22:55] #86 closed

[2022-01-15 05:07] phamhieu commented on #87
Hi @JasonChiu-dev `supabase-dart: ^0.2.13` is deployed. Let me know if it works for you.

[2022-01-15 05:18] JasonChiu-dev commented on #87
Hi @phamhieu  It works correctly now. Thank you so much for your inform and help.

[2022-01-17 16:03] #87 closed

[2022-01-19 14:02] osaxma opened #89 "Updating data returns an empty Exception when there is no results returned"
Take the following function as an example:

[code]

When all `notifications` for the given `notified_uid` are already `false` (i.e. no result is returned), I get the following exception:

[code]

I've was able to confirm this in several ways:
- commenting out `.eq('is_seen', false)`  -- no issue
- Manually changing a single notification's `is_seen` to `false`  on Dashboard -- no issue on the first

[2022-01-20 21:01] osaxma opened #90 "Inability to use operators other than `eq` in the realtime filter within the `.from` argument"
When I use any operator other than `eq` in the `.from` argument, I get the following error:
[code]
For the following operators:  `neq`, `lt`, `lte`, `gt`, and  `gte`.

For  instance:
- This works:
[code]

- This does not work:
[code]
  It gives the following error:
[code]

**Versions**
- supabase: ^0.2.13
- flutter: 2.8.1

[2022-01-20 21:22] osaxma commented on #90
There's also another related issue when using `timestamptz` as a filter (I believe because it contains multiple `:`s and the colons are used as a separator).

For instance:

- running this:

[code]

    Gives the following error:

[code]

[2022-01-20 23:40] bdlukaa commented on #90
should it be `supabaseClient.from("messages:is_seen.neq.false") `?

[2022-01-21 00:08] osaxma commented on #90
@bdlukaa I don't think so based on this example:

https://github.com/supabase-community/supabase-dart/blob/0ce7f7a8f1b39932e4097748bbe615ecbbc4ac10/lib/src/supabase_query_builder.dart#L53

Also, I just tried it and I got:
[code]

[2022-01-21 00:15] osaxma commented on #90
It looks like the root of the problem is here:

https://github.com/supabase-community/supabase-dart/blob/0ce7f7a8f1b39932e4097748bbe615ecbbc4ac10/lib/src/supabase.dart#L56-L64

Obviously, only `eq` is taken into account here -- are there any reasons for that?

[2022-01-21 09:18] phamhieu commented on #90
Hi @osaxma, right now the realtime server only support `eq` operator.

https://github.com/supabase/realtime/blob/6df5ddc15cc79ac3eaa5e9af0bbbceea6129d2c2/README.md#supported-event-filters

[2022-01-21 09:31] osaxma commented on #90
Hi @phamhieu, thanks for the info.

Are there any plans to support the other operations soon?

[2022-01-21 10:46] phamhieu commented on #90
I don't think so. But feel free to create an issue on `realtime` repo if you want to get more information.

[2022-01-21 11:17] osaxma commented on #90
@phamhieu thanks. I filed an issue that's referenced above.

[2022-01-22 00:53] SergejSachs opened #91 "Invalid Refresh Token on restoreSession"
**Steps to reproduce**
- Set expiration time to 2 min (Supabase UI)
- Login & Persist Session e.g. local storage
- Quit app and wait 3 min
- Start app and call restoreSession

**Result**
"Invalid Refresh Token" gets returned

**Expected Behavior**
Fetches new access token and its accessible and updates "SupabaseClient".

**Singleton Wrapper**
[code]

**SignIn**
[code]

**Function called on app-sta

[2022-01-25 04:33] Jay-flow opened #92 "iOS does not automatically return to the app after social login."
# iOS does not automatically return to the app after social login.

When I log in on social on iOS, the social login window appears on the web, and I want to log in and return to the app, but the app doesn't open.

The console says you are logged in as below.
[code]

However, the loading window continues to appear as below and does not return to the app.

![KakaoTalk_Photo_2022-01-25-13-21-43](htt

[2022-01-25 06:47] mohamadkenway opened #93 "RealTime"
Hi
If i go to offline mode and come back online , Real Time service can detect what data inserted or updated or ... when i was offline ??

[2022-01-27 10:00] christianfl opened #94 "Unhandled Exception with realtime rls"
Hey guys, thank you really much for supabase!

When subscribing to changes in the database like this:

[code]

it usually works for a short amount of time and then throws the following error:

**E/flutter ( 8080): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'String?' in type cast**

[code]

pubspec.yaml:

[2022-01-29 22:52] osaxma commented on #94
There's a related issue in realtime repo -- see my comment there which may solve it for you:

- https://github.com/supabase-community/realtime-dart/issues/35#issuecomment-1024998157

[2022-01-29 23:02] phamhieu commented on #94
Duplicated https://github.com/supabase-community/realtime-dart/issues/35

[2022-01-29 23:02] #94 closed

[2022-01-29 23:13] osaxma opened #95 "PostgREST requests appear as realtime subscriptions and prevents the websocket connection from closing"
To observe the issue:

[code]

This will print:
[code]

This is an issue because when removing the only or the last real subscription. The `websocket` connection will never close because `openSubscriptions` will never be 0 if any PostgREST request was performed before/during a realtime subscription.
https://github.com/supabase-community/supabase-dart/blob/2d5be1c6968da5944f8b3b039e351b38a953d815/l

[2022-01-29 23:41] phamhieu commented on #95
Good catch!!! @osaxma.

We should create `_subscription` only when user call `on` method not on `SupabaseQueryBuilder` constructor.

`supabase-js` code reference
https://github.com/supabase/supabase-js/blob/37b1c1ea9611e9021931cf902438d72126430ee0/src/lib/SupabaseQueryBuilder.ts#L37-L59

[2022-02-01 03:31] GaryAustin1 commented on #93
Just looking thru here for something else, but realtime is only good while you have a connection.  There is no queue on the realtime server.

[2022-02-04 14:04] Vinzent03 opened #96 "Monorepo for all Dart packages"
Let's say I have a problem with realtime there are currently 3 repositories where an issue could be tracked: `supabase-flutter`, `supabase-dart`, `realtime-dart`. This is **really** annoying. (By the way, why is `supabase-flutter` still at `supabase` and the others at `supabase-community`?).

I think by combining them into one repo, but still separated packages, you get a better overview. You coul

[2022-02-04 14:30] bdlukaa commented on #96
I once suggested this kind of approach but they said they wanted to keep the same pattern as the other client libraries for other programming languages. That means every package has an equivalent repository to postgrest, realtime, gotrue, and so on...

[2022-02-04 15:29] Vinzent03 commented on #96
I don't know what the benefit is of being like the other languages, but at least moving all issues into one repo is the next best solution.

[2022-02-04 16:26] bdlukaa commented on #96
Consistency

[2022-02-05 05:03] dshukertjr commented on #96
Right. I haven't been doing this a lot. I would have to actively start doing this.

[2022-02-07 03:17] phamhieu commented on #96
you are right. We should move that repo to `supabase-community` also.

cc @kiwicopple

[2022-03-10 20:55] gcostaapps opened #100 "Error watching table on web"
Hi, I'm running the same code on a tablet and on the web, on the web when I make changes in an array of int fields inside a table that is being watched I got an error from the realtime_client. Coudn't find why, this error was not happening before, the users start to complain about it this week.

[code]

Error
[code]

Using flutter version stable 2.10.1 and supabase: ^0.2.15
(Was using supabase 0.2

[2022-03-21 12:53] bsnbu opened #101 "Status 404 with returned public url"
Hi all,

I'm trying to follow the official flutter guide and noticed that after updating the avatar the console logged the following error,
`HTTP request failed, statusCode: 400, https://audittedsubdomain.supabase.co/storage/v1/object/public/avatars/add19f9a-5eae-4d05-9529-cdbb3acfa270.jpg`
I noticed that the public url I got from the dashboard starts with `https://audittedsubdomain.supabase.in` i

[2022-03-22 03:51] nurmukhametdaniyar opened #102 "Resending OTP"
I wonder if there is functionality to resend OTP code because I couldn't find anything on that

[2022-03-23 09:54] dshukertjr commented on #102
Hi @nurmukhametdaniyar . You could probably re-run `signIn` with the same phone number to resend OTP. Let me know if that works!

[2022-03-23 10:03] dshukertjr commented on #101
Hi @bsnbu ! Thank you so much for opening an issue for this.

Do you have an example of working public URL? I changed the URL you provided to `supabase.in` like [this](https://audittedsubdomain.supabase.in/storage/v1/object/public/avatars/add19f9a-5eae-4d05-9529-cdbb3acfa270.jpg), but couldn't load image.

Also, could you confirm that the bucket you are using is set to public?
<img width="524" alt

[2022-03-23 20:30] gcostaapps commented on #100
Hi, is there any update about this or information that I need to provide? This was not happening some weeks ago

[2022-03-27 17:04] dshukertjr commented on #100
@gcostaapps Sorry for taking time to getting back to you and thank you so much for your patients.

If you could provide a schema of your `liveLesson` table as well as simple code sample of what`watchLiveLesson(payload)` is doing, it would be awesome!

[2022-03-28 13:31] gcostaapps commented on #100
Sure

I've tried to put the try catch inside the `watchLiveLesson` but when the error happens it doesn't go to the catch statement.

[code]

![image](https://user-images.githubusercontent.com/65033296/160408682-e2411b2c-8fa7-44c6-af41-cc0e64170b78.png)

The ARRAY fields are arrays of int8

[2022-03-29 13:18] dshukertjr commented on #100
Thank you so much @gcostaapps for additional context. This is very helpful!

There is a lot going on with launch week at the moment at Supabase, but I will allocate some time at the end of the week to look into this issue along with other issues that you have kindly opened and hopefully get them fixed ASAP.

[2022-03-31 18:08] Vinzent03 opened #106 "Functions-dart repo is not public yet"
I see that supabase-dart supports the new Supabase edge functions and the needed `functions_client` package is released on [pub.dev](https://pub.dev/packages/functions_client), but the corresponding GitHub [repository](https://github.com/supabase-community/functions-dart) is not public currently.

[2022-03-31 23:47] dshukertjr commented on #106
@Vinzent03 Great call! Thanks for noticing and letting us know! I have made it public right now!

[2022-03-31 23:47] #106 closed

[2022-04-05 19:30] Vinzent03 commented on #96
I see that `supabase-flutter` is moved, but issues are still split between all repos. I would move all issues to `supabse-flutter`/ `supabase-dart` and disable issues on the rest.

[2022-04-08 13:55] dshukertjr commented on #96
Thanks @Vinzent03 for the suggestion.

@phamhieu I feel like client libraries of other languages might having similar problems, but have the team discussed some kind of way to centralize issues for them? Do you think we could bring up @Vinzent03 's idea of disabling issues on sub-libraries?

[2022-04-17 11:49] bdlukaa commented on #102
Closing as inactive.

[2022-04-17 11:49] #102 closed

[2022-04-17 11:49] bdlukaa commented on #101
Closing as inactive.

[2022-04-17 11:49] #101 closed

[2022-04-17 11:50] bdlukaa commented on #96
I would love this too!

[2022-04-17 11:54] bdlukaa commented on #93
Hello, @mohamadkenway ! This is currently not possible. You can do a check for when the user comes back online and perform any queries in the database, for example, and start listening again!

I'll leave this open as a valid request

[2022-04-17 11:55] bdlukaa commented on #44
Closing as inactive

[2022-04-17 11:55] #44 closed

[2022-04-17 11:58] bdlukaa commented on #73
Duplicate of https://github.com/supabase-community/realtime-dart/issues/29, which was fixed by https://github.com/supabase-community/realtime-dart/pull/30

Closing as solved!

[2022-04-17 11:58] #73 closed

[2022-04-17 12:08] bdlukaa opened #109 "Dart library rework"
We currently have 7 dart libraries:
- [supabase-flutter](https://github.com/supabase-community/supabase-flutter);
- [supabase-dart](https://github.com/supabase-community/supabase-dart);
- [postgrest-dart](https://github.com/supabase-community/postgrest-dart);
- [gotrue-dart](https://github.com/supabase-community/gotrue-dart);
- [realtime-dart](https://github.com/supabase-community/realtime-dart);

[2022-04-17 18:08] bdlukaa commented on #71
According to the docs, there should not be any spaces in the `or` query.

Reference: https://supabase.com/docs/reference/dart/or

I believe the client (`postgres-dart`) could remove the spaces, altough I believe this is not a good approach, since it can cause unexpected results.

The official js implementation also doesn't remove spaces https://github.com/supabase/postgrest-js/blob/master/src/lib/

[2022-04-17 18:16] bdlukaa commented on #79
Duplicate of https://github.com/supabase-community/supabase-flutter/issues/68

[2022-04-17 18:16] #79 closed

[2022-04-21 23:59] DanMossa commented on #109
Amazing! Are this and supabase-flutter going to be the only repos that are unified ?

[2022-05-15 03:56] ijaspreetsinghh opened #113 "Token leaked in network tab"
[Supabase ](https://pub.dev/packages/supabase) package for flutter is leaking all the requests, bearer token and request body in network tabs for flutter web. This kind of behaviour is unsecured and anyone can get hijack the app's resources by connecting from their code. or maybe via postman alone. Can this thing be fixed ASAP or is there anything we can do to prevent this leakage from happening?

[2022-05-15 04:08] dshukertjr commented on #113
@ijaspreetsinghh Thanks for opening this issue. Let me take a look.

[2022-05-15 04:21] dshukertjr commented on #113
@ijaspreetsinghh
This behavior is expected when using JWT for authorization.

Just because your user has access to your anon key or auth token, it does not mean your resources on the server can be accessed freely as long as you set up row level security.
https://supabase.com/docs/guides/auth/row-level-security

You can read more about JWT and network tab here
https://stackoverflow.com/questions/47

[2022-05-22 01:22] BLipscomb commented on #12
I was wondering about building something like a mock supabase client for my tests, but it was an up-hill battle for me. I moved my database calls to a layer that just talks to the database. For example, I have a dbInsert method that I pass a table name and some records. This method is very simple and just does an insert. My business logic contains a call to dbInsert, and I can easily mock this cal

[2022-05-26 21:11] iriealex opened #114 "Save to localstorage"
With Firebase, when you make a change to a document, the document is automatically saved locally (in order to quickly update the views of the application) but this is not the case with Supabase (to my awareness).

Isn't there an existing system to do this or should we code it ourselves? Claiming to be a Firebase alternative, shouldn't this feature be one of the most basic to have been implemented?

[2022-05-26 22:41] bdlukaa commented on #114
You mean cache? If so, this isn't implemented in the client libraries *yet*

[2022-05-26 23:07] iriealex commented on #114
Yes, I mean cache !

[2022-05-30 12:23] atreeon opened #115 "Generating Dart Supabase Types & making the ORM more type safe?"
Are there any ways or future plans to generate Dart types from Supabase tables?

for example currently I do this where I use strings inside the commands and it outputs to a dynamic map
[code]

and I would like to do this; with the type generated automatically for me (a bit more like c#'s entity framework or dart's Conduit), where the type returned is a specific type that matches the database.

[co

[2022-06-08 20:52] DanMossa commented on #115
What I've been doing until a better solution comes up is to make an enum of my tables, and then create a method that takes in the table enum and uses that to call Supabase.

I then only interact with Supabase using my wrapper method.

[2022-06-13 21:35] parkerhutchinson opened #117 "update to flutter 3 widget binding warnings"
current your package suffers from this issue in flutter.

https://github.com/flutter/flutter/issues/103561#issuecomment-1126416045

[2022-07-07 00:22] growthondev opened #121 "can not update phone number via auth.update()"
It seems updating phone number is working ok with js library.
However, with dart `phone` parameter is not available, I tried with `data` parameter to update phone number, but it was for `raw_user_meta_data`.
Is there any way to update phone number for auth.user table?

[2022-07-11 01:00] dshukertjr commented on #117
Thank you for reporting this. As stated on the link, we do have this issue happening on our library, but it creates a log spam and it should not affect the functionality of the app at the moment.

I will keep this issue so that people can still find this one.

[2022-07-11 01:01] dshukertjr commented on #113
I would like to close this issue as it is the expected behavior. Please feel free to open issues if anything else comes up in the future!

[2022-07-11 01:01] #113 closed

[2022-07-13 00:15] dshukertjr commented on #121
This should be fixed on the latest supabase-dart and supabase-flutter release!

[2022-07-13 00:15] #121 closed

[2022-07-15 19:11] deliqs opened #124 "Weird errors related to connecting to the Supabase instance"
Hi,

I've been sent here by Div of the support team.

I'm experiencing frequent and weird errors related to connecitng to my Supabase instance from my Flutter app.

Some examples:
- ClientException: Can't assign requested address
- SocketException: Failed host lookup: '[DOMAIN.supabase.in](http://DOMAIN.supabase.in/)' (OS Error: No address associated with hostname, errno = 7)
- Connection closed b

[2022-07-17 14:21] imcouri opened #125 "Realtime with filters not working"
I'm using the latest version of flutter_supabase and supabase_dart, and as far as I've tested real-time only works if there are no filters applied and you're listening to changes in the entire table.

for example, this code works
[code]
but this doesn't

[code]

At this point, I'm not sure if it's an issue caused by the plugin or a Supabase itself since older versions of this app, released months

[2022-07-20 11:58] CodeKinggggggg opened #126 "getx +supabase"
It is difficult to load data from DB using getx. What should I do?

[2022-07-20 22:10] bdlukaa commented on #126
Can you provide more info about your issue?

[2022-07-20 22:48] CodeKinggggggg commented on #126
I'm trying to use the MVC pattern.

Specifically,
In controller,

class PostsController extends GetxController {
  SupabaseManager supabaseManager = SupabaseManager();
  var postList = <PostList>[].obs;

  @override
  void onInit() {
    super.onInit();
    readData();
  }

  Future<void> readData() async {
    var postData = await supabaseManager.readData();
    if (postData != null) {
      post

[2022-07-20 22:48] CodeKinggggggg commented on #126
.

[2022-07-26 13:41] bdlukaa commented on #126
Can you provide more information about your issue?

[2022-07-27 16:56] programmador opened #127 "Make SupabaseQueryBuilder generic"
PostgrestQueryBuilder is generic while it's descendant SupabaseQueryBuilder is not.
As a consequence the only available result type is dynamic while actually under the hood it's predominately `List<Map<dynamic>>` or even `List<_JsonMap<dynamic which is probably String,String>>>` which could be determined while debugging (though I have no idea what _JsonMap is).

Could it be implemented as generic?

[2022-07-28 03:08] dshukertjr commented on #127
Hi @programmador,

Thanks for opening this issue! Sounds good, let me look into it!

[2022-08-01 11:07] Vinzent03 commented on #96
Instead of disabling issues on the sub-libraries, what about adding a template which tells the user to create the issue in the `supabse-flutter` repo. When users can't directly find a way to create an issue, they might not create the issue at all or use some other ways like discord.

[2022-08-04 07:37] Mohamed50 commented on #22
i still get the same issue

[2022-08-04 12:03] bdlukaa commented on #22
@Mohamed50 can you reproduce it on the latest prerelease? https://pub.dev/packages/supabase/versions/1.0.0-dev.2

[2022-08-06 22:27] caseycrogers opened #131 "StorageFileApi type is not exposted"
I store references to different parts of my DB in a helper file to simplify access to them:
[code]

However, if I try to do this for a storage bucket, it doesn't work:
[code]
Compile error:
`Undefined class 'StorageFileApi'`

From what I can tell, the `StorageFileApi` type is not exposed anywhere by the SDK so I can't use it in things like a getter function.
It doesn't seem like there's a problem

[2022-08-06 23:04] Vinzent03 commented on #131
I guess you are using <=`v1.0.0-dev.2`. Can you update to `v1.0.0-dev.3`? I've fixed this in #130

[2022-08-06 23:07] caseycrogers commented on #131
My bad, looks like I put this in the wrong repo anyway, I'm on Flutter:
https://github.com/supabase-community/supabase-flutter
Should I close this and reopen it there?

[2022-08-06 23:12] Vinzent03 commented on #131
Then please try running `flutter pub upgrade supabase`

[2022-08-06 23:51] caseycrogers commented on #131
Dev.3 doesn't appear to be available on Flutter yet (latest pre-release is dev.2). I tried dev.2 and it did not resolve the issue.

All this said, I just opened this issue to notify you guys about it, it's not blocking me. If it's already a known issue that will be fixed soon, then I'm happy!

[2022-08-07 00:22] dshukertjr commented on #131
@caseycrogers Just published it! Please give it a try!

[2022-08-07 00:51] caseycrogers commented on #131
Hmmm I'm on dev.3 now and it still doesn't seem to work.

I tried importing `import 'package:supabase_flutter/supabase_flutter.dart';` and `import 'package:supabase/supabase.dart';`.

[2022-08-10 18:00] CodingSoot opened #133 "Passing custom headers to rpc"
I want to pass custom headers to the rpc call, along with the auth headers.
I've digged in the source code and the implementation seems trivial.

[2022-08-14 12:27] #126 closed

[2022-08-14 14:03] Dev-Adnani commented on #127
Any Update Regarding ? handling

[2022-08-18 11:03] Myzel394 commented on #58
How do you call it from the server? Can you give a short example on how to delete users using Flutter?

[2022-08-19 07:38] #109 closed

[2022-08-19 19:36] dsyrstad opened #134 "RPC call cannot set headers in 1.0.0-dev.4"
Prior to 1.0.0, I was able to set headers on an `rpc` request (somewhat awkwardly):

[code]
I was able to do this because `PostgrestBuilder` previously exposed `headers`.  The headers are now private and I can find no way to set them. `PostgrestClient` still seems to expose `headers`,  but I don't have access to it via `SupabaseClient`.

See https://postgrest.org/en/stable/api.html#calling-functio

[2022-08-19 21:07] bdlukaa commented on #134
@dshukertjr could custom headers be added to rpc as well?

[2022-08-20 08:51] Vinzent03 commented on #134
It was already requested [here](https://github.com/supabase-community/supabase-flutter/issues/179). I think we should add this.

[2022-08-20 12:44] bdlukaa commented on #134
Duplicate of https://github.com/supabase-community/supabase-flutter/issues/179

[2022-08-20 16:52] dsyrstad commented on #134
@bdlukaa @Vinzent03 I just want to clarify that this issue is a blocker for me because what used to be doable pre-1.0.0 is no longer doable. Being able to use the PostgREST `Prefer: params=single-object`  header is required for me to move to 1.0.0.

Issue https://github.com/supabase-community/supabase-flutter/issues/179 is about adding non-PostgREST headers. I think this should be fixed before the

[2022-08-20 16:59] Vinzent03 commented on #134
@dsyrstad We are collecting all issues in `supabase-flutter`. Technically, the issue belongs to `postgrest-dart`.

@dshukertjr I think we should enforce this more or at least mention in the README. It's a bit confusing if nobody knows.

[2022-08-20 17:05] dsyrstad commented on #134
@Vinzent03 I don't think the issue belongs in `postgrest-dart` because I can modify the headers if I use the `PostgrestClient` directly. It's the `SupabaseClient` which made the headers private and broke things for me.

[2022-08-21 03:55] vietlinhtspt opened #135 "Cannot filter in anyway"
I am using filter to query data in some ways:

column: table name ex: 'title'.
value: List of String: ['title'].

1.  await Supabase.instance.client
        .from(table)
        .select()
        .contains(column, value);

2.  await Supabase.instance.client
        .from(table)
        .select()
        .filter(column, 'cs', value);

It always throw an error: Unhandled Exception: PostgrestExceptio

[2022-08-21 09:53] Vinzent03 commented on #135
Are you really passing the table name as column name? What type is your column?

[2022-08-21 10:05] vietlinhtspt commented on #135
I have just check, my column name 'title' and its type is text

Vào CN, 21 thg 8, 2022 vào lúc 16:53 Vinzent ***@***.***>
đã viết:

--
*NGUYEN VIET LINH*

*Student at University of Engineering and Technology.*
*Mobile: (+84) 825072308.*
*Address: Cau Giay, Ha Noi, Viet Nam.*

[2022-08-21 10:15] Vinzent03 commented on #135
So you want to check if your column's value is in the list of `value`?

[2022-08-21 10:18] vietlinhtspt commented on #135
I want to get a list of rows which have 'title' column contains one of filtering value.

[2022-08-21 10:25] vietlinhtspt commented on #135
Oh sorry, the used package name is supabase_flutter. I will close this issue now.
Thank you for your support.

[2022-08-21 10:30] Vinzent03 commented on #135
You probably want to use `.in_()`https://supabase.com/docs/reference/dart/in_

[2022-08-21 15:04] dshukertjr commented on #134
@dsyrstad
It sounds like what you really want is a handy way of setting `Prefer: params=single-object` header. I have opened an issue on js library so that we could have a discussion about it. Feel free to chime in on the js issue as you like!

I will re-open this issue for now.